.thumbnail {
  margin-left: 60px;
}
.col-lg-4 {
  display: inline-block;
}
h4{
  font-family: 'Poppins', sans-serif;
  margin-top: 4px;
  margin-left: 40px;
}

.caption .btn-play {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 25px;
  font-family: 'Poppins', sans-serif;
  color: white;
  background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgb(211, 172, 245) 100%);
  border-radius:10%;
  text-decoration: none;
}
.btn-play:before {
  height: 0%;
  width: 2px;
}
.btn-play:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}
.game-img {
  border-radius: 20%;
  width: 150px;
}
