h3{
  height: 50px;
  font-size: 2rem;
  margin: 0 15% 0 15%;
}
.SortByCategory{
  height: 600px;
  background-color: rgb(199, 228, 255);
  margin: 10px 0;
  border-radius: 10px;
  padding: 35px;
  width: 1200px;
}
.SortByCategory--css{
  display: flex; 
  justify-content: space-between; 
  margin: 5px, 0;
 
}
.SortByCategory-link{
  height: 250px;
  width: 23%;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 5px 0;
  text-decoration: none;
  color: #000;
  position: relative;
  top: 0;
  transition: top linear 0.2s;
}
.SortByCategory-link:hover{
  top: -5px;
  opacity: 0.8;
}

.SortByCategory__img{
  height: 150px;
  width: 100%;  
}

.SortByCategory__name{
  font-size: 1.35rem;
  font-weight: 700;
  height: 50px;
  padding: 5px 0 0 5px;
}

.SortByCategory__dev{
  font-size: 1.4rem;
  font-weight: 400;
  height: 15%;
  padding: 5px 0 0 5px;
  height: 13%;
}
.InfiniteCarousel {
  height: 40%;
  background-color: rgb(199, 144, 225);
  margin: 0 15% 0 15%;
  border-radius: 10px;
  padding: 60px;
  width: 150%;
  display: flex; 
  justify-content: space-between; 
}
