
.famous-game--css{
  display: flex; 
  justify-content: space-between; 
  margin: 5px, 0;
}
.famous-game-link{
  height: 250px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 5px 0;
  text-decoration: none;
  color: #000;
  position: relative;
  top: 0;
  transition: top linear 0.2s;
  padding: 2px;
}
.famous-game-link:hover{
  top: -5px;
  opacity: 0.8;
}

.famous-game__img{
  height: 150px;
  width: 100%;  
}

.famous-game__name{
  font-size: 1.35rem;
  font-weight: 700;
  height: 50px;
  padding: 5px 0 0 5px;
}

.famous-game__Category{
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
  padding: 5px 0 0 5px;
}
